*{
   
}
body{
    background-color: aqua;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.4vmin;
   
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2px solid red;
    border-radius: 16px;
    font-size: 8vmin;
    color: whitesmoke;
    background-color:rgb(108, 73, 198);
    border: none;
    
    
}
.box:hover{
    background-color:rgb(85, 30, 223); ;
    cursor: pointer;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: red;
    border: none;
    border-radius: 20px;



    
}
#reset:hover{
    cursor: pointer;
}
.winner{
    font-style: italic;
    color: forestgreen;
    font-size: 8vmin;

}